<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Invitation from ft_transcendence</title>
  </head>
  <body>
    <p>Hello {{.nickname}},</p>
    <p>User <strong>{{.senderNickname}}</strong> wants you to be his/her friend.</p>
    <p>You can accept or reject invitation via our web-site.</p>

    <p>
       <a href="{{.websiteUrl}}" 
			 		style="
         		display: inline-block;
         		padding: 10px 20px;
         		background-color: #3498db;
         		color: white;
         		text-decoration: none;
         		border-radius: 5px;
         		font-weight: bold;
        	">
        Go to ft_transcendence
      </a>
    </p>
    <p>Happy playing!</p>
  </body>
</html>



